

.header-top{
  text-decoration:none;
  display:flex;
  justify-content:space-between;
  align-items:end;
  padding:10px 30px 30px 30px;
}

.header-logo{
  display:flex;
  width:10%;
  height:10%;
}

.header-content{
  display:flex;
}

.header-contents{
  display:flex;
}

.header-main{
  position:relative;
}

.header-img{
  margin:0 0 0 auto;
  display:block;
  width:60%;
}

.header-title{
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 90px;
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
}

.growth{
  color:#20B2AA;
}

.header-comment{
  position: absolute;
  top: 50%;
  left: 15%;
  line-height:25px;
}

.commit2{
  color:#20B2AA;
}

.commit{
  font-size:20px;
  font-weight:bold;
  color:#c73d6a;
}



.news-logo{
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
  margin:50px auto 20px auto;
  width:60%;
}

.news-title{
  margin:0 auto 30px auto;
  width:60%;
}

.news-topic{
  width:60%;
  margin:0 auto;
  border-top:2px solid;
  border-bottom:2px solid;
  list-style:none;
}

.news-topics{
  margin:15px 0px;
  border-bottom:1px solid ;
  width:100%;
  padding-bottom:10px;
}

.topics2{
  background:#c73d6a;
  border-radius:10px;
  color:white;
  margin:20px;
  width:80px;

}

.about{
  background-color:#DCDCDC;
  margin-top:40px;
  padding:30px;
}

.about-logo{
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
  text-align:center;
  margin-bottom:20px;
}

.about-title{
  text-align:center;
  font-size:20px;
  margin-bottom:25px;
}

.about-textimg{
  line-height:25px;
  display:flex;
  justify-content:space-around;
}

.about-text1{
  margin-bottom:20px;
}

.about-img{
  width:20%;
  height:20%;
}

.service{
  width:70%;
  margin:0 auto;
}

.service-logo{
  margin:50px 0 10px 0;
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
}

.service-title{
  margin-bottom:20px;
  font-size:20px;
}

.service-grid{
  display:grid;
  grid-template-rows:200px 200px;
  grid-template-columns:1fr 1fr;
}

.service-grid div{
  color:white;
}

.box1{
  grid-column:1/2;
  grid-row:1/3;
  background:#c73d6a;
}

.box1-h3{
  text-align:center;
  margin-bottom:20px;
}

.box1-text{
  line-height:25px;
  text-align:center;
}

.service-img1{
  margin:30px 90px;
  width:50%;
  height:50%;
}

.box2{
  grid-column:2/3;
  grid-row:1/2;
  background:#df688e;
  display:flex;
  justify-content:space-around;
}

.box2-content{
  margin:auto 10px auto 10px;
}

.box2-text{
  line-height:25px;
}

.box2-h3{
  margin-bottom:20px;
}

.service-img2{
  margin:auto;
  width:60%;
  height:60%;
}

.box3{
  grid-column:2/3;
  grid-row:2/3;
  background:#c78ea1;
  display:flex;
  justify-content:space-around;
}

.box3-content{
  margin:auto 10px auto 10px;
}

.box3-h3{
  margin-bottom:20px;
}

.service-img3{
  margin:auto;
  width:60%;
  height:60%;
}

.blog{
  margin-top:50px;
  padding:30px 200px;
  background-color:rgb(207, 216, 216);
  height:550px;
}

.blog-logo{
  margin-bottom:10px;
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
}

.blog-title{
  font-size:20px;
  margin-bottom:20px;
}

.blog-flex{
  display: flex;
  justify-content: space-between;
}

.blog-card {
  background-color:white;
  width: 30%;
  height:400px;
  border-radius:20px;
}

.blog-img{
  position:relative;
}

.blog-img img {
  width: 100%;
  border-radius:20px 20px 0 0 ;
}

.blog-content {
  margin: 15px 25px 40px 25px;
  line-height:25px;
}

.blog-datetag {
  margin:0 20px;
  color: #888888;
  display:flex;
  justify-content: space-between;
}

.blog-imglogo{
  color:white;
  background-color:#c73d6a;
  position:absolute;
  border-top-left-radius:20px;
  padding:10px;
}

.blog-bottan{
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
  background-color:white;
  border-radius:30px;
  border:solid 2px #c73d6a;
  padding:10px;
  width:20%;
  margin:30px auto;
  text-align: center;
}

.company{
  margin:0 auto;
  width:60%;
}

.company-logo{
  margin-top:50px;
  font-family: 'Just Me Again Down Here', cursive;
  color:#c73d6a;
}

.company-title{
  margin:10px 0 20px 0;
}

table {
  width:100%;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  text-align:left;
  font-weight: bold;
  background-color: #dedede;
}

.form{
  list-style:none;
  display:flex;
  margin-top:50px;
  position:relative;
  width:100%;
}

.form-img{
  display: inline;
  width:50vw;
}

.form-1{
  position:absolute;
  top:50%;
  left:25%;
  color:white;
}


.form-2{
  position:absolute;
  top:50%;
  right:25%;
  color:white;
}

.form-3{
  margin:30px;
  text-align:center;
}

.form-4{
  font-size:30px;
  color:#c73d6a;
  text-align:center;
}

.form-5{
  display:block;
  border-radius:30px;
  background-color:#c73d6a;
  width:20%;
  padding:20px;
  margin:10px auto 50px auto;
  text-align:center;
  color:white;
}

.form-5::before{
  content: "";
  background: url(../img/mailicon.svg);
  background-size: cover;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right:30px;
}

.footer{
  background-color:rgb(207, 216, 216);
}

.footer{
  padding:20px;
  text-align:center;
}